  <section class="about" id="about">
      <div class="bgText">about</div>
      <div class="content-wrap">
          <div class="about-content">
              <header>
                  <h2 class="gradient-text left-to-right-underline">EXPERIENCE A TRUE TECHNICAL EVENT</h2>
              </header>
              <p>
                  Colosseum is the Annual Technical Festival of Don Bosco Institute of Technology hosted by the faculty
                  and
                  various student committees of DBIT. These committees organize various event, as well as many other
                  social
                  projects and outreach activities throughout a period of two days. Colosseum is well-known for holding
                  a range
                  of activities such as contests, exhibits, talks, and seminars along with fun activities for students
                  across
                  the campus!
              </p>
              <div class="date-time"></div>
          </div>
          <div class="about-img">
              <img width="400" height="400" src="./assets/img/img-1.jpeg" alt="" class="img-1">
              <img width="400" height="400" src="./assets/img/img-2.jpg" alt="" class="img-2">
          </div>

      </div>
  </section>