  <section class="about" id="about">
      <div class="bgText">about</div>
      <div class="content-wrap">
          <div class="about-content">
              <header>
                  <h2 class="gradient-text left-to-right-underline">EXPERIENCE A TRUE CULTURAL EVENT</h2>
              </header>
              <p>
                  As the name suggests Hysteria is a mega festival celebrated annually at the Don Bosco Centre for
                  Learning campus.

                  The main rationale of this fiesta is to fuel the coalescence of the diverse minds and skills our
                  campus is home to.

                  Hysteria provides a platform to all students of various expertise to exhibit their dexterity,
                  competency, virtuosity and enthusiasm in healthy competition to conquer the Hysteria Shield.

                  Housing over 4500 people each year, the power-packed carnival of Don Bosco goes offline this year with
                  exhilarating events ranging from Performing arts to Literary arts, Sports to Gaming and much more...
              </p>
              <div class="date-time"></div>
          </div>
          <div class="about-img">
              <img width="400" height="400" src="/content/about/Cover.png" alt="" class="img-1">
              <img width="400" height="400" src="/content/about/Cover.png" alt="" class="img-2">
          </div>

      </div>
  </section>