  <section class="events" id="events-secton">
    <div class="bgText">
      events
    </div>
    <div class="content-wrap">
      <header>
        <h1 class="gradient-text center-expand-underline">CURRENT/COMING SOON</h1>
      </header>
      <div class="card">
        <div class="container">
          <div class="post">
            <div class="header_post">
              <img src="./assets/img/Events/arch linux poster2.jpg" alt="">
            </div>

            <div class="body_post">
              <div class="container_infos">
                <a class="gradient-text font-big register-link read-more" href="#timeline-section">
                  <div class="box-3">
                    <div class="btn btn-three">
                      <p class="gradient-text font-big register-link">Read More</p>
                    </div>
                  </div>
                </a>
                <a class="gradient-text font-big register-link read-more" target="_blank"
                  href="https://forms.gle/4uHZidacRdjYChME7">
                  <div class="box-3">
                    <div class="btn btn-three">
                      <p class="gradient-text font-big register-link">Register</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container">
          <div class="post">
            <div class="header_post">
              <img src="./assets/img/Events/All About Manufacturing.jpg" alt="">
            </div>

            <div class="body_post">
              <div class="container_infos">
                <a class="gradient-text font-big register-link read-more" href="#timeline-section">
                  <div class="box-3">
                    <div class="btn btn-three">
                      <p class="gradient-text font-big register-link">Read More</p>
                    </div>
                  </div>
                </a>
                <a class="gradient-text font-big register-link read-more" target="_blank"
                  href="https://forms.gle/4uHZidacRdjYChME7">
                  <div class="box-3">
                    <div class="btn btn-three">
                      <p class="gradient-text font-big register-link">Register</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="post">
            <div class="header_post">
              <img src="./assets/img/Events/stick 2.png" alt="">
            </div>

            <div class="body_post">
              <div class="container_infos">
                <a class="gradient-text font-big register-link read-more" href="#timeline-section">
                  <div class="box-3">
                    <div class="btn btn-three">
                      <p class="gradient-text font-big register-link">Read More</p>
                    </div>
                  </div>
                </a>
                <a class="gradient-text font-big register-link read-more" target="_blank" href="">
                  <div class="box-3">
                    <div class="btn btn-three">
                      <p class="gradient-text font-big register-link">Register</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>