<section class="events" id="events-secton">
  <div class="bgText">
    events
  </div>
  <div class="content-wrap">
    <header>
      <h1 class="gradient-text center-expand-underline">Events</h1>
    </header>

    <div class="row">

      <div class="col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 18px;">Read More</a> --}}
            <a href="https://forms.gle/jEmsvE2cqGgJZhvy7" target="_blank"
              class="btn card-btn gradient-text btn-outline-dark" style="font-size: 21px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Fine-arts.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 18px;">Read More</a> --}}
            <a href="https://forms.gle/rXwWhPZZ4Nro4apMA" target="_blank"
              class="btn card-btn gradient-text btn-outline-dark" style="font-size: 21px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Gaming.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 18px;">Read More</a> --}}
            <a href="https://forms.gle/aMFVy2QPqsk3XU6z6" target="_blank"
              class="btn card-btn gradient-text btn-outline-dark" style="font-size: 21px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Literary-arts.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 18px;">Read More</a> --}}
            <a href="http://bit.ly/LiteraryArtsHysteria" target="_blank"
              class="btn card-btn gradient-text btn-outline-dark" style="font-size: 21px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Mega-PR-Events.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 18px;">Read More</a> --}}
            <a href="#" target="_blank" class="btn card-btn gradient-text btn-outline-dark"
              style="font-size: 21px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Performing-arts.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 18px;">Read More</a> --}}
            <a href="#" target="_blank" class="btn card-btn gradient-text btn-outline-dark"
              style="font-size: 21px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Photography.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 18px;">Read More</a> --}}
            <a href="#" target="_blank" class="btn card-btn gradient-text btn-outline-dark"
              style="font-size: 21px;">Register</a>
          </div>
        </div>
      </div>

      <div class=" col-6 col-lg-3 col-md-6 col-sm-6 pt-4 d-flex justify-content-center card-div">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Sports.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex justify-content-center">
            {{!-- <a href="#" class="btn card-btn gradient-text btn-outline-dark p-0 p-1" style="font-size: 14px;">Read More</a> --}}
            <a href="#" target="_blank" class="btn card-btn gradient-text btn-outline-dark"
              style="font-size: 21px;">Register</a>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>