<section class="events" id="events-secton">
  <div class="bgText">
    events
  </div>
  <div class="content-wrap">
    <header>
      <h1 class="gradient-text center-expand-underline">EVENTS</h1>
    </header>

    <div class="row">

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">

          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">
         
          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">
         
          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">
         
          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">
         
          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">
         
          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">
         
          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>

      <div class="col-3 pt-4">
        <div class="card" style="width: 18rem;">
          <img src="/content/events/Athletics.jpg" class="card-img-top" alt="...">
         
          <div class="card-body d-flex">
            <a href="#" class="btn card-btn gradient-text btn-outline-dark" style="font-size: 23px;">Read More</a>
            <a href="#" class="btn card-btn gradient-text ms-auto btn-outline-dark" style="font-size: 23px;">Register</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>