  <!--Footer-->
  <footer class="" id="contact">
      <div class="contact-text">
          <h1 class="gradient-text text-center center-expand-underline">Contact</h1>

      </div>
      <div class="row pb-5 pt-5">
          <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
              <div class="">
                  <h3 class="gradient-text text-center"><span>Hysteria</span></h3>
                  <div class="">
                      <a href="https://www.facebook.com/hysteriadbcl/" target="_blank" class="m-2 mt-0 mb-0 "
                          aria-label="Facebook">
                          <span class="iconify social-link" data-icon="logos:facebook" data-width="45" data-height="45"></span>
                      </a>
                      <a href="https://in.linkedin.com/company/hysteriadbcl?trk=public_profile_experience-item_profile-section-card_subtitle-click"
                          class="m-2 mt-0 mb-0" aria-label="LinkedIn">
                          <span class="iconify social-link" data-icon="logos:linkedin-icon" target="_blank" data-width="45"
                              data-height="45"></span>
                      </a>
                      <a href="https://www.instagram.com/hysteriadbcl/?hl=en" target="_blank" class="m-2 mt-0 mb-0"
                          aria-label="Instagram">
                          <span class="iconify social-link" data-icon="skill-icons:instagram" data-width="45"
                              data-height="45"></span>
                      </a>
                      <!-- <a href="#" class="scl-buttons__button scl-button scl-button--twitter" aria-label="twitter">
          <i class="fab fa-twitter"></i>
        </a> -->
                      {{!-- <a href="https://www.youtube.com/channel/UC_GX-7wsZJMhc3lYgEMkAxA" class="" aria-label="YouTube">
                          <span class="iconify" data-icon="logos:youtube-icon" data-width="45" data-height="45"></span>
                      </a> --}}
                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12  pt-4 d-flex justify-content-center align-items-center">
              <div class="">
                  <div>
                      <div class="row">
                          <div class="col-4 d-flex justify-content-end">
                              <span class="iconify" data-icon="mdi:address-marker-outline" data-width="45"
                                  data-height="45"></span>
                          </div>
                          <div class="col-8">
                              <p class="location-text">
                                  Premier Automobiles Road Opp. HDIL Premier Exotica, Kurla, Mumbai, Maharashtra 400070
                              </p>
                          </div>
                      </div>


                  </div>

              </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 pt-4 d-flex justify-content-center align-items-center">
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.6014440322306!2d72.8864074149559!3d19.081253187084833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8866a456c9f%3A0x8d1745d15baac575!2sDon%20Bosco%20Institute%20of%20Technology%2C%20Mumbai!5e0!3m2!1sen!2sin!4v1675129394661!5m2!1sen!2sin"
                  class="rounded g-map" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>

      <div class="pt-5 pb-3">
          <p class="text-center text-muted contrib-text">Designed by Hysteria Web Development Team 2023 </p>
      </div>
  </footer>