  <!--Footer-->
  <footer class="footer-distributed">
      <div class="footer-left">
          <h3 class="gradient-text"><span>Hysteria</span></h3>
          <div class="scl-buttons">
              <a href="https://www.facebook.com/Colosseumdbit/"
                  class="scl-buttons__button scl-button scl-button--facebook" aria-label="Facebook">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.linkedin.com/in/colosseum-dbit-336a58194/?originalSubdomain=in"
                  class="scl-buttons__button scl-button scl-button--linkedin" aria-label="LinkedIn">
                  <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="https://www.instagram.com/colosseumdbit/"
                  class="scl-buttons__button scl-button scl-button--instagram" aria-label="Instagram">
                  <i class="fab fa-instagram"></i>
              </a>
              <!-- <a href="#" class="scl-buttons__button scl-button scl-button--twitter" aria-label="twitter">
          <i class="fab fa-twitter"></i>
        </a> -->
              <a href="https://www.youtube.com/channel/UC_GX-7wsZJMhc3lYgEMkAxA"
                  class="scl-buttons__button scl-button scl-button--youtube" aria-label="YouTube">
                  <i class="fab fa-youtube"></i>
              </a>
          </div>

      </div>

      <div class="footer-center">
          <div>
              <i class="fa fa-phone"></i>
              <p>+91 100</p>
          </div>
          <div>
              <i class="fa fa-envelope"></i>
              <p>colo@gmail.com</p>
          </div>
      </div>
      <div class="footer-right">
          <p class="footer-company-about">
              <span>आमची Mumbai</span>
              ’Something for everyone.’ - The spirit of Mumbai can be encapsulated in just this sentence.
              Across the spectrum of communities covering the city and through the hustle of a million people
              remains a simple dream - that of carving their niche in this magical land of ours.

              Be it the glamour of Bollywood, the simplicity of a Vada Pav, the myriad of people clinging onto a
              train or the sound of waves crashing onto Marine Drive, there’s a story to be written for every
              person.

              This year in Hysteria, we’ll be looking to write our own story, recreating this majestic aura of the
              city inside the gates of DBCL as we explore the food, culture and sports that are engraved onto this
              land of ours - offering something for everyone and taking us on a journey across Aamchi Mumbai - The
              City of Dreams!
          </p>
      </div>

      <div class="footer-bottom">
          <p class="footer-company-name">Designed by Hysteria Web Development Team 2023 </p>
      </div>
  </footer>