<section class="events" id="events-secton">
    <div class="bgText">
        GALLERY
    </div>
    <div class="content-wrap">
        <header class="pb-4">
            <h1 class="gradient-text center-expand-underline">Gallery</h1>
        </header>

        <div class="row">
            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/20.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/2.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/3.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/4.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/6.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/7.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/8.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/10.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/13.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/16.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/17.JPG" alt="">
            </div>

            <div class="col-6 col-lg-4 col-md-6 col-sm-6 mt-5 d-flex justify-content-center align-items-center">
                <img class="gallery-img" src="/content/gallery/18.JPG" alt="">
            </div>
        </div>

    </div>
</section>