  <section class="first-section">
      <div class="content-wrap">
          <div class="content-container">
              <h2>HYSTERIA 2023</h2>
              <h1 class="gradient-text pt-2"><span>आमची Mumbai</span></h1>
              {{!-- <p style="">
                  ’Something for everyone.’ - The spirit of Mumbai can be encapsulated in just this sentence.
                  Across the spectrum of communities covering the city and through the hustle of a million people
                  remains a simple dream - that of carving their niche in this magical land of ours.

                  Be it the glamour of Bollywood, the simplicity of a Vada Pav, the myriad of people clinging onto a
                  train or the sound of waves crashing onto Marine Drive, there’s a story to be written for every
                  person.

                  This year in Hysteria, we’ll be looking to write our own story, recreating this majestic aura of the
                  city inside the gates of DBCL as we explore the food, culture and sports that are engraved onto this
                  land of ours - offering something for everyone and taking us on a journey across Aamchi Mumbai - The
                  City of Dreams!
              </p> --}}
              <span class="line first">
                  <span></span>
              </span>
              <span class="line second">
                  <span></span>
                  <span></span>
              </span>
              <a href="#about" class="read-more">
                  <div class="box-3">
                      <div class="read-more-btn">
                          <span>Read More</span>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </section>