  <section class="first-section">
      <div class="content-wrap">
          <div class="content-container">
              <h2>COLOSSEUM 2022</h2>
              <h1 class="gradient-text"><span>Bigger Better CraZieR</span></h1>

              <span class="line first">
                  <span></span>
              </span>
              <span class="line second">
                  <span></span>
                  <span></span>
              </span>
              <a href="#about" class="read-more">
                  <div class="box-3">
                      <div class="btn btn-three">
                          <span>Read More</span>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </section>