  <section class="map">
      <div class="map-content">
          <div>
              <h2 class="gradient-text left-to-right-underline">Map</h2>
          </div>
          <div>
              <p>All the workshops and events will be conducted in the campus so, come to the college and enjoy to the
                  fullest.
              </p>
          </div>
          <div class="map-content-down">
              <div>
                  <h3>Near</h3>
                  <p>Kurla</p>
              </div>
              <div>
                  <h3>City</h3>
                  <p>Mumbai</p>
              </div>
          </div>
      </div>
      <div class="mapouter">
          <div class="gmap_canvas">
              <iframe width="600" height="500" id="gmap_canvas"
                  src="https://maps.google.com/maps?q=Don%20Bosco%20Institute%20of%20Technology&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <style>
                  .mapouter {
                      position: relative;
                      text-align: right;
                      height: 500px;
                      width: 600px;
                  }
              </style>
              <style>
                  .gmap_canvas {
                      overflow: hidden;
                      background: none !important;
                      height: 500px;
                      width: 600px;
                  }
              </style>
          </div>
      </div>
  </section>