<nav id="mynav" class="nav-transparent">
    <div class="nav-main">
        <a href="#" class="nav-head">
            <img id="logo" src="./assets/img/colologo.png" height="100px" width="100px" alt="logo" class="nav-img">
            <p class="nav-text glow nav-text-title nav-txt-white">HYSTERIA</p>
        </a>
        <div class="nav-content">
            <div class="nav-links">
                <a class="nav-text glow nav-txt-white" href="#events-secton">HOME</a>
                <a class="nav-text glow nav-txt-white" href="#events-secton">ABOUT</a>
                <a class="nav-text glow nav-txt-white" href="#events-secton">Events</a>
                <a class="nav-text glow nav-txt-white" href="#speakers-section">SPONSORS</a>
                <a class="nav-text glow nav-txt-white" href="#timeline-section">CONTACT</a>
                {{!-- <a class="nav-text nav-txt-white" target="_blank" href="https://forms.gle/GKCKcEtJyoTQtySC6">
                    <div class="box-3">
                        <div class="btn btn-three">
                            <span>Register</span>
                        </div>
                    </div>
                </a> --}}
                <div class="dot"></div>
            </div>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <div class="white-layer"></div>
    <div class="black-layer"></div>
</nav>