  <!--Spon-->
  <section class="spons">
      <div class="spons-text">
          <h1 class="gradient-text center-expand-underline">Sponsors</h1>
      </div>
      <div class="spons-container">
          <div class="spons-box"><a> <span><img src="assets/img/sponsorlogos/1.jpeg" width="200px" height="200px" alt=""
                          class="spons-responsive"></span></a></div>
          <div class="spons-box"><a> <span><img src="assets/img/sponsorlogos/2.png" width="200px" height="200px" alt=""
                          class="spons-responsive"></span> </a></div>
          <div class="spons-box"><a> <span><img src="assets/img/sponsorlogos/3.jpeg" width="200px" height="200px" alt=""
                          class="spons-responsive"></span> </a></div>
          <div class="spons-box"><a> <span><img src="assets/img/sponsorlogos/4.jpeg" width="200px" height="200px" alt=""
                          class="spons-responsive"></span> </a></div>
          <div class="spons-box"><a> <span><img src="assets/img/sponsorlogos/6.png" width="200px" height="200px" alt=""
                          class="spons-responsive"></span> </a></div>
          <div class="spons-box"><a> <span><img src="assets/img/sponsorlogos/5.jpeg" width="200px" height="200px" alt=""
                          class="spons-responsive"></span> </a></div>
          <div class="spons-box"><a> <span><img src="assets/img/sponsorlogos/7.png" width="200px" height="200px" alt=""
                          class="spons-responsive"></span> </a></div>
      </div>
  </section>