  <!--Spon-->
  <section class="spons">
      <div class="spons-text">
          <h1 class="gradient-text center-expand-underline">Sponsors</h1>
      </div>
      <div class="spons-container">
          <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/3.jpeg" width="200px" height="200px" alt="" class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>
                    <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/3.jpeg" width="200px" height="200px" alt="" class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>
      </div>
      
  </section>