  <!--Spon-->
  <section class="spons" id="sponsor">
      <div class="spons-text">
          <h1 class="gradient-text center-expand-underline">Sponsors</h1>
      </div>
      <div class="spons-container">
          <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/redbull.png" width="200px" height="200px" alt=""
                          class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>

          <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/clubMahindra.jpg" width="200px" height="200px" alt=""
                          class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>

          <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/citizens.jpg" width="200px" height="200px" alt=""
                          class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>

          <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/continentalCoffee.jpg" width="200px" height="200px" alt=""
                          class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>

          <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/missionCareer.jpg" width="200px" height="200px" alt=""
                          class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>

          <div class="spons-box">
              <a>
                  <span>
                      <img src="/content/sponsors/godrej.png" width="200px" height="200px" alt=""
                          class="spons-responsive pb-2 mb-1">
                  </span>
              </a>
          </div>
      </div>

  </section>