  <section class="time" id="timeLeft">
      <div class="content-wrap">
          <div class="main-info-wrap">
              <header>
                  <h2 class="gradient-text left-to-right-underline">Conference will start in:</h2>
                  <h4>Hurry up! Time is running out. Don't wait, GET your ticket right now.</h4>
              </header>
              <div class="coming-soon__item-wrap">
                  <div class="coming-soon__item">
                      <span class="days">13</span>
                      <span>Day</span>
                  </div>
                  <div class="coming-soon__item">
                      <span class="hours">12</span>
                      <span>Hour</span>
                  </div>
                  <div class="coming-soon__item">
                      <span class="minutes">23</span>
                      <span>Minute</span>
                  </div>
                  <div class="coming-soon__item">
                      <span class="seconds">13</span>
                      <span>Second</span>
                  </div>
              </div>
          </div>
      </div>
  </section>