  <section class="vid">
      <div id="videoDiv">
          <video id="video" preload="" autoplay="" muted="" playsinline="" loop="false">
              <source src="./assets/vid.mp4" type="video/mp4">
              <source src="./assets/trailer.webm" type="video/webm">
          </video>
          <div id="videoMessage" class="styling">

          </div>
      </div>
  </section>