.events {
    padding: 4rem 0;
    background: linear-gradient(#f0f0f0, #f6e8c0, #f0f0f0);
    /* background-color: rgba(246, 4, 124, 0.09);
    color: var(--black-bg); */

    position: relative;

}
.events>.content-wrap {
    flex-direction: column;
}
.events>.content-wrap>.bg-text {
    position: absolute;
    opacity: .3;
    line-height: 150px;
    right: 0;
    writing-mode: vertical-rl;
    -webkit-text-stroke-color: #ff4070;
}
.events header {
    text-align: center;
    padding-bottom: 4em;
}
.center-expand-underline {
    padding: 1em 0 2em 0;
    position: relative;
}
.center-expand-underline::after {
    position: absolute;
    content: "";

    left: 0;
    bottom: 0.99em;
    width: 100%;
    height: 3px;
    background-color: var(--color-two);

    transform: scaleX(0.2);
    transform-origin: center;
    transition: transform 500ms ease-in-out;
}

.center-expand-underline:hover::after,
.center-expand-underline:active::after {
    transform: scaleX(0.8);
}

.center-expand-underline::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 1em;
    width: 100%;
    height: 2px;
    background-color: rgb(209, 207, 207);
    transform: scaleX(0.8);
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 1s;
}
.card:hover{
    transform: scale(1.04);
}
.card-btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width: 350px) {
    .events {
        padding: 0;
    }
}
@media (min-width: 1300px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1900px) {
    .card {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2200px) {
    .card {
        grid-template-columns: repeat(5, 1fr);
    }
}

.events>.bgText {
    font-size: 8rem;
    left: calc(100vw - 5.5rem);
    transform-origin: center left;
    top: 0;
    transform: rotate(90deg);
}

@media screen and (max-width: 1100px) {

    .events>.content-wrap>.bg-text {
        top: 33%;
    }

    .events .content-wrap {
        min-height: 1000px;
    }

}
@media screen and (max-width: 748px) {
    .card-div {
        transform: scale(1.1);
    }
}