@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.contact-text {
  align-items: flex-start;
  margin: 5px auto;
  width: 75%;
}

.contact-text h1 {
  text-align: center;
  margin: 5px auto;
  padding: auto;
}

.social-link {
  transition: transform 1s;
}

.social-link:hover {
  transform: scale(1.1);
}

.location-text {
  max-width: 350px; 
  font-family: "League Spartan", sans-serif;
  text-align: justify;
}

.contrib-text {
  font-family: "League Spartan", sans-serif;
  text-align: justify;
}

.g-map {
  width: 450px;
  height: 300px;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  transition: transform 1s;
}

.g-map:hover {
  transform: scale(1.04);
  /* box-shadow: rgba(227, 10, 141, 0.35) 0px 5px 15px; */
  box-shadow: rgba(227, 10, 141, 0.56) 0px 22px 70px 4px;
  /* box-shadow: rgba(227, 10, 141, 0.25) 0 8px 15px; */
}

@media only screen and (max-width: 1390px) {
  .g-map {
    width: 350px !important;
    height: 200px !important;
  }
  .location-text {
    max-width: 200px; 
    text-align: justify;
  }
}

@media only screen and (max-width: 1390px) {
  .g-map {
    width: 300px !important;
    height: 180px !important;
  }
}
