/* footer css */
@media (max-height: 800px) {
    footer {
        position: static;
    }

    footer header {
        padding-top: 40px;
    }
}

.footer-distributed {
    cursor: url("../assets/img/cursor-white.png"), auto;
    background-color: #1c1c1c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 40px;
    margin: 0 auto;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: var(--color-white);
    font: normal 36px "Oswald", sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin: 0;
}

footer a {
    cursor: url("../assets/img/hand-cursor-white.png"), pointer;
}

/* Footer links */

.footer-distributed .footer-links {
    color: var(--color-white);
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #1c1c1c;
    color: var(--color-white);
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 18px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: var(--color-white);
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #fff;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: var(--color-white);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.footer-bottom {
    padding-top: 3em;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}


@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}