.gallery-img {
    width: 400px;
    height: 250px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 1s;
}

.gallery-img:hover {
    transform: scale(1.04);
    box-shadow: rgba(227, 10, 141, 0.25) 0 8px 15px;
}

@media screen and (max-width: 1400px) {
    .gallery-img {
        width: 300px;
        height: 187.5px;
    }
}

@media screen and (max-width: 750px) {
    .gallery-img {
        width: 150px;
        height: 93.75px;
    }
}