@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.bg-dark {
    background-color: #212529;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	background-color: #E30A8D !important;
}

.logo {
	max-width: 70px;
}

.navbar-scrolled {
	padding: 0px 48px 0px;
}

.navbar-unscrolled {
	padding: 24px 48px 8px;
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

.nav-link {
	white-space: nowrap;
	text-transform: uppercase;
	color: #A91CA8 !important;
    font-family: 'Josefin Sans', sans-serif;	
    position: relative;
    font-weight: 600;
    font-size: 20px;
}

.nav-link.active {
	color: #E30A8D !important;
}

.nav-link:hover {
	color: #E30A8D !important;
    text-decoration: underline;
}

.nav-link:focus {
	color: #E30A8D !important;
}

.nav-link:before {
	position: absolute;
	bottom: 2px;
	content: "";
	width: 83.5%;
	height: 3px;
	background: var(--clr-accent-800);
	transform: translateX(-100%);
	opacity: 0;
}

.nav-link:hover:before {
	opacity: 1;
	transition: 0.5s transform ease, 0.8s opacity ease;
	transform: translateX(0);
}


/* media query */
@media screen and (max-width: 1200px) {
	.navbar-scrolled {
		padding: 0px 18px 0px !important;
	}

	.navbar-unscrolled {
		padding: 24px 18px 8px !important;
	}
}


@media (max-width: 780px) {}

@media screen and (max-width: 550px) {
	.logo {
		width: 60px;
	}
	.navbar-scrolled {
		padding: 0px 14px 0px !important;
	}

	.navbar-unscrolled {
		padding: 24px 14px 8px !important;
	}
}

@media screen and (max-height: 820px) {
	.navbar-unscrolled {
		padding: 14px 14px 8px !important;
	}
}

@media screen and (max-height: 635px) {
	.logo {
		width: 55px;
	}
	.navbar-scrolled {
		padding: 0px 14px 0px !important;
	}

	.navbar-unscrolled {
		padding: 0px 14px 0px !important;
	}
}