nav {
    font-family: "Hanson", sans-serif;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 2rem var(--color-black);
    position: fixed;
    width: 100vw;
    height: 80px;
    line-height: 80px;
    z-index: 999;
}

.nav-colored {
    background-color: var(--nav-bar-light);
    opacity: 1;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.363);
}

.nav-transparent {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease, backdrop-filter 0.2s ease;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-head {
    display: flex;
    column-gap: 10px;
    align-items: center;
    text-decoration: none;
    cursor: url("../assets/img/hand-cursor.png"), pointer;
}

.nav-links>a {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: ease-in-out 250ms;
    cursor: url("../assets/img/hand-cursor.png"), pointer;
}

.nav-text {
    text-decoration: none;
    padding: 0 2rem;
    cursor: url("../assets/img/hand-cursor.png"), pointer;
}

.glow:hover {
    text-shadow: var(--color-white) 1px 0 10px;
}

.nav-txt-black {
    color: var(--color-black);
}

.nav-txt-white {
    color: var(--color-white);
}

.nav-links .btn-three {
    /* background-color: var(--color-two); */
    transition: all 0.5s;
    position: relative;
}

.nav-links .btn-three::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;

    border: 1px solid rgba(255, 255, 255, 0.8);
    transform: scale(1.2, 1.2);
}

.nav-links .btn-three:hover::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.363);
    transform: scale(1, 1);
}

.nav-links .btn-three::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background-size: 200%;
    background-image: linear-gradient(45deg,
            var(--color-four),
            var(--color-one),
            var(--color-two));
    animation: anim 25s infinite alternate;
    transition: all 0.3s;
}

.nav-links .btn-three:hover::after {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.nav-links .btn-three:hover {
    /* Fallback color. */
    background-color: var(--color-five);
    /* the gradient. */
    background-image: linear-gradient(45deg, var(--color-four), var(--color-one), var(--color-two), var(--color-five));

    /* background size and repeat properties. */
    background-size: 200%;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: anim 15s infinite alternate;
}

.hamburger {
    display: none;
    padding: 0;
    border: none;
    background: none;
}

.hamburger>span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px 20px;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
}

.hamburger span:first-child {
    transform: scaleX(0.5);
    transform-origin: left;
}

.hamburger span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: center center;
}

.hamburger span:last-child {
    transform: scaleX(0.5);
    transform-origin: right;
}

.hamburger.active span:first-child {
    transform: translateX(6px) rotate(45deg) scaleX(0.5);
    background-color: var(--color-white) !important;
}

.hamburger.active span:nth-child(2) {
    transform: rotate(-45deg) scaleX(0.85);
    background-color: var(--color-white) !important;
}

.hamburger.active span:last-child {
    transform: translateX(-6px) rotate(45deg) scaleX(0.5);
    background-color: var(--color-white) !important;
}

.nav-links a::before {
    position: absolute;
    content: "";
    display: block;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background: var(--color-black);
    transition: ease-in-out 250ms;
}

.nav-head>p {
    margin-bottom: 0%;
}

.nav-head>p:focus-within::before,
.nav-links>a:focus-within::before {
    transition: 0ms;
}

.nav-head>p:last-child::before,
.nav-links>a:last-child::before {
    width: 0%;
}

.nav-main {
    justify-content: space-around;
    transition: 250ms ease-out;
}

.nav-img {
    box-shadow: var(--color-white);
    width: 73px;
    height: 60px;
    transition: 250ms ease-out;
}

@media screen and (max-width: 400px) {
    .nav-img {
        width: 20px;
        height: 20px;
    }

    .nav-text-title {
        font-size: small;
    }
}

.dot {
    width: 7ch;
    height: 6px;
    position: absolute;
    right: 0;
    background: var(--color-black);
    opacity: 0;
    margin-top: 2em;
    transform-origin: center left;
    /* -webkit-transform: translateX(-310px); */
    transform: translateX(-1000px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-links a:nth-child(1):hover~.dot {
    transform: translateX(-610px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav-links a:nth-child(2):hover~.dot {
    width: 8ch;
    transform: translateX(-425px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav-links a:nth-child(3):hover~.dot {
    transform: translateX(-245px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}


@media screen and (max-width: 1000px) {
    nav {
        height: 50px;
    }

    header {
        font-size: 16px;
    }

    .nav-main {
        line-height: 50px;
        margin: 0 5px;
    }

    .nav-links {
        column-gap: 5px;
    }
}

@media only screen and (max-width: 1300px) {
    nav {
        height: 60px;
    }

    .nav-main {
        line-height: 60px;
    }

    .nav-links .btn {
        line-height: 40px;
        height: 40px
    }
}

@media only screen and (max-width: 1110px) {
    .nav-links {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: transparent;
        /* rgba(221, 221, 221, 0.8); */
        width: 100%;
        line-height: 0.1;
        padding-top: 5rem;
        height: 100vh;
        opacity: 0;
        border-radius: 5px;
        text-align: center;
        transition: right 0.8s cubic-bezier(0.595, 0.03, 0, 0.88),
            opacity 0.5s ease;
    }

    .nav-main {
        justify-content: space-between;
    }

    .nav-links>a {
        color: var(--color-white);
        margin: 2.5rem 0;
    }

    .nav-links.active {
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        /* backdrop-filter: blur(10px); */
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: url("../assets/img/hand-cursor.png"), pointer;
    }

    .black-layer {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: -100vw;
        top: 0;
        z-index: -3;
        background: var(--color-black);
        -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
    }

    .white-layer {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: -100vw;
        top: 0;
        z-index: -5;
        background: var(--color-white);
        -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
    }
}