

.vid{
    cursor: url("../assets/img/cursor-white.png"),auto;
    background: linear-gradient( #000000, #1c1c1c, #1c1c1c);
  }
  #videoDiv {
    padding-top: 1em;
    width:100%; 
    max-width:1200px; 
    margin:auto; 
    display:block; 
    position: relative;
    /* background: linear-gradient( #f0f0f0, #f6e8c0, #f0f0f0); */
  } 
  #video{
    width:100%; 
    height:auto 
  } 
  #videoMessage { 
    position: absolute; 
    top: 0; 
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
  }
  